{% extends "newsletter/table.html" %}
{% load i18n %}

{% block content %}
<form method="POST" action="{%url 'newsletter_list' %}">
  {% csrf_token %}
  {% if user.is_authenticated %}
  <legend>{% trans "newsletter subscription" %}</legend>
  <label class="checkbox">
    {{form}}
  {% else %}
    <legend>{% trans "subscribe to our newsletter" %}.</legend>
    {{form}}
  </label>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Update subscriptions" %}</button>
</form>

{%block archive_list %}
<h3>{%trans "EnduNews archive newsletters" %}.</h3>
<table>
  {% block table %}
  {{ block.super }}
  {% endblock %}
</table>
{%endblock%}

{% endblock content %}
